* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    margin: 0;
    background-color: #100d14;
    color: #fff;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: rgba(255,255,255,0.07);
    padding: 1rem;
    border-radius: .5rem;
    width: 20rem;
    max-width: 100%;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

input {
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: rgba(255,255,255,.1);
    color: #fff;
    border: none;
    width: 100%;
}

.btn {
    background-color: rgb(24, 117, 255);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

table {
    width: 600px;
    max-width: 100%;
    background-color: rgba(255,255,255,.1);
    margin-bottom: 2rem;
}

th {
    text-align: left;
}

th, td, tr, table {
    border: 1px solid #fff;
    border-collapse: collapse;
}

th, td {
    padding: .5rem;
}